@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot');
    src: url('../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSans/OpenSansRegular/OpenSansRegular.otf') format('otf');
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans/OpenSansBold/OpenSansBold.eot');
    src: url('../fonts/OpenSans/OpenSansBold/OpenSansBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSansBold/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSans/OpenSansBold/OpenSansBold.otf') format('otf');
    font-weight: bold;
}
@font-face {
    font-family: 'OpenSansMedium';
    src: url('../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot');
    src: url('../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'),
         url('../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.otf') format('otf');
}