html{
    height: 100%;
}
body{
    font-family: "OpenSans", sans-serif;	
    font-weight: normal;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100%;
    background: #fff;
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
:focus {outline: 0;}
a{ outline: none; -moz-outline: 0; text-decoration: underline;}
a:hover{text-decoration: none;}
a:active { outline: none; -moz-outline: 0; }
a:focus { outline: none; -moz-outline: 0; }
input,select,button,.select2-container .select2-selection--single{
    outline: none !important;
    -moz-outline: 0;
}
h1,h2,h3,p,ul{margin: 0;padding: 0;line-height: 1.2;}
h1{
    font-size: 30px;
    margin: 0px 0px 15px 0px;
    font-family: 'OpenSansBold';
    color: #ee2f84;
    text-align: center;
}
a{color: #333;}
label{
    font-weight: normal;
    font-family: 'OpenSansMedium';
}
.wrap{
    min-height: 100%;
    width: 100%;
    position: relative;
    background: url('../img/bg.jpg') 50% 0 repeat-x #fff;
}
.wrap-container{
    box-sizing:border-box;
    width:1280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 100px; 
}
header{
    height: 170px;
    position: relative;
}
.toggle-menu{
    display: none;
}
.header-logo{
    position: absolute;
    display: block;
    background: url('../img/logo.png') 50% 0 no-repeat transparent;
    width: 170px;
    height: 170px;
    top: 0;
    z-index: 10;
    left: 24px;
}
.login-popup{
    display: none;
    position: absolute;
    width: 240px;
    padding: 20px;
    border-radius: 15px 0 15px 15px;
    box-shadow: 0 5px 11px rgba(177, 215, 228, 0.8);
    -webkit-box-shadow: 0 5px 11px rgba(177, 215, 228, 0.8);
    background: #fff;
    right: 34px;
    text-align: center;
    box-sizing: border-box;
    z-index: 40;
    margin-top: 3px;
}
.menu-login-block.show .login-popup{
    display: block;
}
.login-popup-title{
    color: #656565;
}
.social-block{
    text-align: center;
    margin-top: 20px;
}
.social-block a{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: url('../img/social.png') 0 0 no-repeat transparent;
    margin-right: 20px;
}
.social-block .soc-vk{
    background-position: 0 0;
}
.social-block .soc-fb{
    background-position: -44px 0;
}
.social-block .soc-ok{
    background-position: -84px 0;
    margin-right: 0;
}
.login-popup .or-block{
    color: #a3a3a3;
    font-size: 12px;
    overflow: hidden;
    margin: 18px -20px;
}
.login-popup .or-block:before,
.login-popup .or-block:after{
    content: "";
    border-top: 1px solid #f2f2f2;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin: 0 10px 0 -45px;
}
.login-popup .or-block:after{
    margin: 0 -45px 0 10px;
}
.login-popup .input-block-pass{
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}
.login-popup .remember-padd-link{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    color: #82bdc6;
    font-size: 12px;
    line-height: 12px;
}
.login-popup .btn-primary{
    width: 100%;
}
.menu{
    position: relative;
    padding-left: 317px;
    padding-top: 51px;
    font-family: 'OpenSansMedium';
}
.menu ul{
    display: inline-block;
    vertical-align: middle;
}
.menu li{
    float: left;
    padding: 10px 50px 10px 0;
    list-style: none;
}
.menu .item .link,
.menu .menu-login-block .link{
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #FFF;
    font-size: 16px;
    font-family: 'OpenSansMedium';
    height: 18px;
    display: inline-block;
}
.menu .item .link:hover,
.menu .menu-login-block .link:hover{
    border-bottom: none;
}
.menu .item .link.active{
    color: #ee2f84;
    border-bottom: none;
}
.menu .item:nth-child(5){
    margin-right: 110px;
}
.menu .menu-reg-li{
    padding-right: 25px;
}
.menu .menu-reg-li .link,
.menu .menu-login-block .link{
    font-size: 18px;
    height: 20px;
}
.menu .menu-login-block .link{
    height: 22px;
    border-bottom-style: solid;
}
.menu .menu-login-block .menu-login-link{
    border-bottom-style: dashed;
}
.menu .menu-login-block{
    display: inline-block;
    vertical-align: middle;
}
.menu .menu-login-block .menu-cabinet-link{
    margin-right: 15px;
}
.menu .menu-login-block.show .menu-login-link{
    padding: 10px 15px;
    margin: -15px;
    background: #fff;
    border-radius: 15px 15px 0 0;
    color: #ee2f84;
}
.wrap-content{
    min-height: 550px;
    padding-bottom: 50px;
}
.content .content-inner{
    margin: 0 auto;
    padding-top: 10px;
}
.wrap-footer{
    width: 1280px;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
}
.wrap-footer a{
    color: #5fa232;
}
.footer-rules-block{
    float: right;
    padding-right: 20px;
}
.footer-rules-block a{
    display: inline-block;
    width: 170px;
    height: 70px;
    margin-top: -20px;
    background: url('../img/rules.png') 50% 0 no-repeat transparent;
}
.copyright{
    display: inline-block;
    color: #c1c1c1;
    padding-right: 20px;
}
.footer-left{
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 80px;
}
.footer-right{
    display: inline-block;
    vertical-align: middle;
}
.footer-right a{
    display: inline-block;
    margin-right: 25px;
}
.footer-right a:last-child{
    margin-right: 0;
}


/* fields and btns && other helpers*/

.input-block input,
.input-block select,
.input-block .select2 .select2-selection,
.input-block textarea{
    background: #eaf6fa;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 1px 5px #93c6d4;
    -webkit-box-shadow: inset 0px 1px 5px #93c6d4;
    padding: 10px;
    width: 100%;
    color: #93b733;
    font-size: 14px;
    box-sizing: border-box;
}

.input-block .select2-container .select2-selection--single,
.input-block .select2-container--default .select2-selection--single .select2-selection__rendered{
    height: auto; 
    line-height: normal;
    color: #333;
    font-family: 'OpenSansMedium';
}
.input-block .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    height: 0;
    width: 0;
    left: -5px;
    top: 55%;
    margin-left: 0;
    margin-top: 0;
    border: 10px solid transparent;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-color: #81ce47;
}
.input-block input::-webkit-input-placeholder,
.input-block textarea::-webkit-input-placeholder {
    color: #a5aeb0;
}
.input-block input:-moz-placeholder,
.input-block textarea:-moz-placeholder {
   color: #a5aeb0;
   opacity: 1;
}
.input-error{
    position: relative;
}
.input-error input,
.input-error textarea{
    background: #f3efe2;
    box-shadow: inset 0px 1px 5px rgba(236, 157, 122, 0.5);
    -webkit-box-shadow: inset 0px 1px 5px rgba(236, 157, 122, 0.5);
}
.input-error-text{
    margin-top: 10px; 
    display: none;
    font-size: 13px;
    color: #ff0000;
    z-index: 50;
}
.input-error .input-error-text{
    display: block;
    position: absolute;
    width: 220px;
    right: -240px;
    top: 0;
    background: #f3efe2;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 0;
}
.input-error .input-error-text:before{
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: -20px;
    top: 10px;
    background: #f3efe2;
    box-sizing: border-box;
    border: 10px solid #fff;
    border-right-color: #f3efe2;
}

.help-block-error{color: #ff0000}
.btn-primary,
.btn-default{
    background: url('../img/btn-bg.png') 50% 100% repeat-x #8CD354;
    border-radius: 5px;
    border: none;
    padding: 13px 30px;
    font-size: 16px;
    color: #fff;
    font-family: 'OpenSansMedium';
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
}
.btn-default{
    background: #004524;
    color: #295234;
    border: 1px solid #295234;
    text-decoration: none;
    font-weight: normal;
}
.checkbox-input-block{
    width: 25px;
    height: 25px;
    float: left;
    cursor: pointer;
    background: url('../img/checkbox-off.png') 0% 100% no-repeat transparent;
}
.checkbox-on{
    background: url('../img/checkbox-on.png') 0% 100% no-repeat transparent;
}
.checkbox-input-block input{
    display:none;
}
.checkbox-text{
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
}
.text-required-info{
   padding-left: 20px;
   font-size: 13px;
}
.captcha-block>div,
.captcha-block>input{
    display: inline-block;
    vertical-align: middle;
}
div.browse-wrap {
    //margin:10px;
    cursor:pointer;
    overflow:hidden;
    position:relative;
}
input.upload {
    right:0;
    margin:0;
    bottom:0;
    padding:0;
    opacity:0;
    height:300px;
    outline:none;
    cursor:inherit;
    position:absolute;
    font-size:1000px !important;
}
span.upload-path {
    text-align: left;
    margin: 10px;
    display: block;
    font-size: 80%;
}
.link-upload{
    color: #295133;
    text-decoration: underline;
}
.link-upload:hover{
    text-decoration: none;
}
.input-radio-block{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 12px;
    cursor: pointer;
    padding: 4px;
    margin-right: 5px;
    vertical-align: middle;
    background: #EAF6FA;
    box-shadow: inset 0px 1px 5px rgba(147, 198, 212, 0.59);
    -webkit-box-shadow: inset 0px 1px 5px rgba(147, 198, 212, 0.59);
}
.input-radio-block.radio-on:before{
    content: "";
    display: block;
    margin: 2px;
    width: 10px;
    height: 10px;
    background: #44a84b;
    border-radius: 9px;
    box-shadow: inset 0px 1px 5px rgba(147, 198, 212, 0.59);
    -webkit-box-shadow: inset 0px 1px 5px rgba(147, 198, 212, 0.59);
}
.input-radio-block input{
    display: none !important;
}
.select2-container--open {
    z-index: 9999;
}
.table{
    display: table;
    width: 100%
}
.table .tr{
    display: table;
    width: 100%
}
.table .th,
.table .td{
    display: inline-block;
    vertical-align: top;
    display: table-cell;
    padding: 5px;
}

.pager a{
    color: #ee2f84;
    display: inline-block;
    vertical-align: middle;
    margin-right: 35px;
    font-size: 16px;
}
.pager .active{
    color: #999;
    text-decoration: none;
}
.pager .pager-pages .active{
    background: #daefda;
    border-radius: 4px;
    padding: 4px 8px;
}
.pager .pager-pages{
    display: inline-block;
    vertical-align: middle;
}
.pager .pager-pages .active.next,
.pager .pager-pages .active.prev{
    color: #7f7f7f;
}

/* helpers */
.clearfix:after{content:".";clear:both;display:block;height:0;font-size:0;visibility:hidden}
.mtop-10{margin-top: 10px;}
.mtop-15{margin-top: 15px;}
.mtop-20{margin-top: 20px;}
.mtop-30{margin-top: 30px;}
.mtop-50{margin-top: 50px;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.inline-block{display: inline-block;}

/* modal fancy */
.j7-modal{
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.fancybox-overlay {
    background-image: none !important;
    background: rgba(134, 161, 195, 0.5) !important;
}
.fancybox-wrap .fancybox-skin{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 55px rgba(177, 215, 228, 0.8);
    -webkit-box-shadow: 0 0 55px rgba(177, 215, 228, 0.8);
    color: #333;
}
.fancybox-close {
    top: 15px !important;
    right: 0px !important;
    display: block !important;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../img/close.png') !important;
    background-repeat: no-repeat !important;
}
.fancybox-skin {
    padding-top: 50px !important;
}


/*  signup page */
.content-signup .content-inner{
    width: 800px;
}
.content-signup .social-block{
    text-align: left;
    margin-bottom: 15px;
    margin-left: 40px;
}
.content-signup .social-block span{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    color: #a3a3a3;
}
.signup-form-left,
.signup-form-right{
    width: 330px;
    margin: 0 65px 0 40px;
    display: inline-block;
    vertical-align: top;
}
.signup-form-right{
    width: 360px;
    margin: 0;
}
.content-signup .input-block{
    margin-bottom: 10px;
    display: inline-block;
}
.content-signup .input-block label{
    width: 120px;
    display: inline-block;
    vertical-align: middle;
}
.content-signup .input-block input{
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}
.input-block-date input{
    padding-right: 40px;
    background: url('../img/cal.png') 95% 50% no-repeat #eaf6fa;
}
.content-signup  .input-block-sex .label,
.content-signup .input-block-sex>div{
    display: inline-block;
    vertical-align: top;
}
.content-signup .input-block-sex>div>div{
    margin-bottom: 10px;
}
.content-signup .checkbox-block{
    margin-top: 10px;
}
.content-signup .captcha-block{
    margin-top: 20px;
}
.content-signup .submit-block{
    margin-top: 40px;
    text-align: center;
}

/*  cabinet page */
.content-cabinet .content-inner{
    width: 800px;
}
.content-cabinet h1{
    margin-bottom: 35px;
}
.content-cabinet .add-check-link-block{
    text-align: center;
    margin-bottom: 35px;
}
.content-cabinet h2{
    font-size: 24px;
    color: #51b94f;
    text-align: center;
}
.content-cabinet .table .th{
    color: #b4b4b4;
}
.content-cabinet .table .td-title-mob{
    display: none;
}
.content-cabinet .table .th:nth-child(1), .content-cabinet .table .td:nth-child(1){
    width: 120px;
}
.content-cabinet .table .th:nth-child(2), .content-cabinet .table .td:nth-child(2){
    width: 100px;
}
.content-cabinet .table .th:nth-child(3), .content-cabinet .table .td:nth-child(3){
    width: 130px;
}
.content-cabinet .table .th:nth-child(4), .content-cabinet .table .td:nth-child(4){
    width: 120px;
}
.content-cabinet .table a{
    color: #51b94f;
}
.content-cabinet .table .check-status-moder{
    color: #e66e17;
}
.content-cabinet .table .check-status-confirm{
    color: #51b94f;
}
.content-cabinet .table{
    margin-bottom: 30px;
}
.content-cabinet .pager{
    margin-bottom: 40px;
}
.cabinet-photo-block h2{
    margin-bottom: 45px;
}
.content-cabinet .photo-upload-block{
    padding: 33px;
    border: 2px dashed #ee2f84;
    border-radius: 15px;
    box-sizing: border-box;
    width: 310px;
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
    margin-bottom: 30px;
    position: relative;
}
.photo-upload-warning{
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: url('../img/lock.png') 50% 90% no-repeat rgba(240, 67, 144, 0.8);
    color: #fff;
    font-size: 18px;
    font-family: 'OpenSansMedium';
    text-align: center;
    padding: 60px 20px;
    border-radius: 15px;
}
.content-cabinet .photo-upload-block .photo-upload-title{
    font-family: 'OpenSansBold';
    font-size: 18px;
    color: #ee2f84;
    margin-bottom: 30px;
}
.content-cabinet .photo-upload-block .checkbox-block{
    margin: 30px 0;
}
.photo-item{
    display: inline-block;
    vertical-align: top;
    width: 220px;
    box-sizing: border-box;
    box-shadow: 0 0 30px rgba(177, 215, 228, 0.6); 
    -webkit-box-shadow: 0 0 30px rgba(177, 215, 228, 0.6);
    padding: 20px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.photo-item .photo-img{
    max-width: 180px;
    max-height: 180px;
    text-align: center;
    vertical-align: middle;
    display: block;
    margin-bottom: 15px;
}
.photo-item .photo-likes{
    width: 25px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
}
.photo-item .like-link{
    width: 25px;
    height: 25px;
    background: url('../img/heart.png') 50% 50% no-repeat transparent;
    text-decoration: none;
    display: inline-block;
}
.photo-item .like-count{
    width: 25px;
    text-align: center;
    font-size: 12px;
    color: #7f7f7f;
    font-family: 'OpenSansMedium';
    margin-top: -3px;
}
.photo-item .photo-name{
    width: 140px;
    vertical-align: top;
    display: inline-block;
    color: #51b94f;
    font-family: 'OpenSansMedium';
}
.content-cabinet .photo-item .photo-likes{
    width: 25px;
    padding-top: 20px;
    background: url('../img/heart.png') 50% 0 no-repeat transparent;
}
#check-upload h2{
    font-size: 24px;
    color: #51b94f;
    margin-bottom: 30px;
    text-align: center;
}
#check-upload .check-upload-form-block{
    display: inline-block;
    vertical-align: top;
}
#check-upload .input-block label,
#check-upload .input-block-file label{
    display: inline-block;
    width: 120px;
}
#check-upload .input-block,
#check-upload .input-block-file{
    margin-bottom: 20px;
}
#check-upload .input-block input{
    width: 200px;
}
#check-upload .checkbox-block,
#check-upload .submit-block{
    margin-bottom: 20px;
    margin-left: 120px;
}
#check-upload .check-example{
    display: inline-block;
    vertical-align: top;
    width: 125px;
    margin-left: 55px;
    padding-bottom: 125px;
    background: url('../img/check.png') 50% 100% no-repeat transparent;
    color: #51b94f;
    font-size: 24px;
    text-align: center;
}

/*  gallery page */
.content-gallery .content-inner{width: 940px;}
.content-gallery .gallery-top{
    margin: 10px 0 20px 0;
}
.content-gallery .gallery-filter{float: right;}
.content-gallery .gallery-filter a{
    font-size: 16px;
    display: inline-block;
}
.content-gallery .gallery-filter a{margin-left: 15px;}
.content-gallery .gallery-filter a.active{
    text-decoration: none;
    color: #51b94f
}
.content-gallery .pager a.next{
    margin-right: 0;
}
.content-gallery .pager .pager-pages {
    width: 585px;
    margin: 0px 45px;
    text-align: center;
}
.photo-list{
    margin-left: -20px;
}
.content-gallery .photo-item {
    padding: 20px;
    margin: 0 0 20px 20px;
    float: left;
}
.content-gallery .photo-item .like-link{
    width: 25px;
    height: 25px;
    background: url('../img/heart.png') 50% 50% no-repeat transparent;
    text-decoration: none;
    display: inline-block;
}
.content-gallery .photo-item .like-count{
    width: 25px;
    text-align: center;
    font-size: 12px;
    color: #7f7f7f;
    font-family: 'OpenSansMedium';
    margin-top: -3px;
}
.content-gallery .photo-item .photo-img{
    cursor: pointer;
}
.modal-gallery-zoom .fancybox-close {
    display: none !important;
}
.modal-gallery-zoom .fancybox-skin {
    padding: 0px !important;
    border-radius: 0px;
    min-width: 850px;
    margin: 0 100px !important;
    background: transparent;
}
.modal-gallery-zoom.fancybox-opened .fancybox-skin .fancybox-inner{
    overflow: visible !important;
}
.modal-gallery-zoom .gallery-zoom-inner{
    overflow: auto;
    background: #fff;
}
#gallery-zoom{
    min-width: 850px;
    position: relative;
}
#gallery-zoom .gallery-zoom-inner{
    min-width: 850px;
}
.gallery-zoom-img{
    width: 600px;
    height: 600px;
    line-height: 600px;
    text-align: center;
    display: inline-block;
}
.gallery-zoom-img img{
    max-width: 600px;
    max-height: 600px;
    display: inline-block;
    vertical-align: middle;
}
.gallery-zoom-right{
    width: 240px;
    height: 600px;
    box-sizing: border-box;
    padding: 20px;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    position: relative;
}
.gallery-zoom-name{
    color: #51b94f;
    font-family: 'OpenSansMedium';
}
.gallery-zoom-shares{
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.gallery-zoom-shares span{
    font-size: 16px;
    color: #7f7f7f;
}
.gallery-zoom-votes{
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 0;
    right: 0;
    padding-top: 40px;
}
.gallery-zoom-votes .like-link{
    background: url('../img/heart-big.png') 50% 50% no-repeat transparent;
    width: 45px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}
.gallery-zoom-votes .like-count{
    font-size: 24px;
    color: #7f7f7f;
    font-family: 'OpenSansMedium';
}
.gallery-slidin-l,
.gallery-slidin-r{
    position: absolute;
    display: block;
    width: 35px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    left: -120px;
    background: url('../img/slide-arr-l.png') 50% 50% no-repeat transparent;
    text-decoration: none;
}
.gallery-slidin-r{
    background-image: url('../img/slide-arr-r.png');
    left: auto;
    right: -120px;
}

/*  winners page */
.content-winners .content-inner{width: 750px;}
.content-winners h1{margin-bottom: 75px;}
.content-winners .search-block{
    width: 380px;
    margin: 0 auto 35px auto;
}
.content-winners .search-block .input-block {
    width: 195px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.content-winners .search-block .submit-block{
    display: inline-block;
    vertical-align: middle;
}
.content-winners .filter-item{
    display: inline-block;
    vertical-align: bottom;
    height: 45px;
    line-height: 45px;
    margin-right: 30px;
}
.content-winners .filter-item:last-child{
    margin-right: 0;
}
.content-winners .filter-item a{
    display: inline-block;
    color: #ee2f84;
    text-decoration: none;
    border-bottom: 1px dashed #ee2f84;
    line-height: normal;
}
.content-winners .filter-item a:hover{
    border-bottom: none;
}
.content-winners .filter-item.active a{
    color: #51b94f;
    border-bottom: none;
}
.content-winners .filter-cupon-1,
.content-winners .filter-cupon-2,
.content-winners .filter-main-prize{
    padding-left: 65px;
    background: url('../img/prizes-ico-1.png') 0 50% no-repeat transparent;
}
.content-winners .filter-cupon-2{
    background-image: url('../img/prizes-ico-2.png');
}
.content-winners .filter-main-prize{
    background-image: url('../img/prizes-ico-3.png');
}
.content-winners .winner-list{
    margin-top: 50px;
}
.content-winners .winner-item>div{
    display: inline-block;
    vertical-align: middle;
}
.content-winners .winner-item .winner-date{
    color: #cacaca;
    width: 80px;
    margin-right: 10px;
}
.content-winners .winner-item .winner-user{
    color: #ee2f84;
    font-size: 16px;
    max-width: 300px;
    margin-right: 20px;
}
.content-winners .winner-item .winner-prize{
    color: #51b94f;
    font-size: 16px;
    max-width: 320px;
}
.content-winners .pager{
    margin-top: 40px;
}

/*  faq page */
.content-faq .content-inner{width: 680px;}
.content-faq h1{margin-bottom: 90px;}
.content-faq .faq-item{
    margin-bottom: 20px;
}
.content-faq .faq-question{
    margin-bottom: 10px;
}
.content-faq .faq-question span{
    color: #cacaca;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    width: 18px;
}
.content-faq .faq-question a{
    color: #ee2f84;
    display: inline-block;
    border-bottom: 1px dashed #ee2f84;
    text-decoration: none;
}
.content-faq .faq-question a:hover{
    border-bottom-color: transparent;
}
.content-faq .faq-answer{
    margin-bottom: 30px;
    display: none;
}
.content-faq .faq-item:first-child .faq-answer{
    display: block;
}
.content-faq .faq-answer-label{
    font-family: 'OpenSansMedium';
    display: inline-block;
    vertical-align: top;
    width: 88px;
    margin-right: 10px;
    color: #51b94f;
    text-align: center;
    box-sizing: border-box;
    padding-left: 10px;
}
.content-faq .faq-answer-text{
    display: inline-block;
    vertical-align: top;
    width: 530px;
    color: #656565;
}
.content-faq .faq-answer-text a{
    color: #51b94f;
}

/*  feedback-form page */
.content-feedback-form .content-inner{width: 410px;}
.content-feedback-form h1{margin-bottom: 45px;}
.content-feedback-form .feedback-link-block{
    margin-bottom: 30px;
    text-align: center;
}
.content-feedback-form .feedback-link-block a{
    color: #656565;
}
.content-feedback-form .feedback-form-top{
    margin: 0 -5px;
}
.content-feedback-form .feedback-form-top .input-block{
    float: left;
    width: 50%;
    padding: 0 5px;
    box-sizing: border-box;
}
.content-feedback-form .input-block-file label{
    font-family: 'OpenSans';
    margin-right: 15px;
}
.content-feedback-form .input-block,
.content-feedback-form .input-block-file,
.content-feedback-form .captcha-block,
.content-feedback-form .submit-block{
    margin-top: 15px;
}
.content-feedback-form .input-block textarea{
    height: 130px;
}
.content-feedback-form .submit-block .btn-primary{
    width: 190px;
}

/*  feedback page */
.content-feedback .content-inner{width: 620px;}
.content-feedback h1{margin-bottom: 45px;}
.content-feedback .feedback-form-link-block{
    margin-bottom: 30px;
    text-align: center;
}
.content-feedback .feedback-form-link-block a{color: #51b94f;}
.content-feedback .feedback-item-top{
    margin-bottom: 20px;
}
.content-feedback .feedback-title,
.content-feedback .feedback-date{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    color: #cacaca;
}
.content-feedback .feedback-title a{
    text-decoration: none;
    color: #ee2f84;
    border-bottom: 1px dashed #ee2f84;
}
.content-feedback .feedback-title a:hover{
    border-bottom-color: transparent;
}
.content-feedback .feedback-question,
.content-feedback .feedback-answer{
    margin-bottom: 20px;
}
.content-feedback .feedback-question-label,
.content-feedback .feedback-answer-label{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    color: #51b94f;
    font-family: 'OpenSansMedium';
}
.content-feedback .feedback-question-text,
.content-feedback .feedback-answer-text{
    display: inline-block;
    vertical-align: top;
    width: 500px;
    color: #656565;
}
.content-feedback .feedback-form-block{
    margin-left: 100px;
    width: 400px;
}
.content-feedback .feedback-form-block .input-block textarea{
    height: 130px;
}
.content-feedback .feedback-form-block .input-block-file{
    margin: 20px 0;
}
.content-feedback .feedback-form-block .input-block-file label{
    margin-right: 15px;
    font-family: 'OpenSans';
}

/*  error page */
.wrap-error .menu,
.wrap-error .wrap-footer{
    display: none;
}
.wrap-error .header-logo {
    left: 50%;
    margin-left: -85px;
}
.content-error .content-inner{width: 410px;}
.content-error h1{margin: 25px 0 45px 0;}
.content-error .error-text{
    margin-bottom: 40px;
    color: #656565;
    padding: 0 46px;
}
.content-error .error-text a{
    color: #51b94f;
}
.photo-competition-info{
    margin: 35px -20px 0 -20px;
    color: #ee2f84;
    font-family: 'OpenSansMedium';
    text-align: center;
    font-size: 16px;
    padding-bottom: 360px;
    background: url('../img/photo-competition.png') 55% 100% no-repeat transparent;
}

/*  pass-remember page */
.content-pass-remember .content-inner{width: auto;}
.content-pass-remember h1{margin-bottom: 90px;}
.pass-remember-form-block{
    width: 320px;    
    margin: 0 auto;
}
.pass-remember-form-block .pass-remember-info{
    margin-bottom: 35px;
    color: #656565;
}
.pass-remember-form-block .input-block label,
.pass-remember-form-block .input-block input{
    display: inline-block;
    vertical-align: middle;
    width: 110px;
}
.pass-remember-form-block .input-block input{
    width: 195px;
}
.pass-remember-form-block .captcha-block{
    margin-top: 20px;
}
.pass-remember-form-block .submit-block{
    margin-top: 20px;
}

/*  pass-new page */
.content-pass-new .content-inner{width: auto;}
.content-pass-new h1{margin-bottom: 90px;}
.pass-new-form-block{
    width: 320px;    
    margin: 0 auto;
}
.pass-new-form-block .pass-new-info{
    margin-bottom: 35px;
    color: #656565;
}
.pass-new-form-block .input-block label,
.pass-new-form-block .input-block input{
    display: inline-block;
    vertical-align: middle;
    width: 115px;
}
.pass-new-form-block .input-block input{
    width: 190px;
}
.pass-new-form-block .input-block{
    margin-top: 20px;
}
.pass-new-form-block .submit-block{
    margin-top: 30px;
}

/*  signup-success page */
.content-signup-success .content-inner{width: auto;}
.content-signup-success h1{margin-bottom: 90px;}
.content-signup-success .signup-success-check{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    background: url('../img/success-1.png') 50% 50% no-repeat transparent;
}
.content-signup-success .signup-success-info{
    width: 440px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #656565;
    margin-top: 30px;
}

/*  email-confirm page */
.content-email-confirm .content-inner{max-width: 600px;text-align: center;}
.content-email-confirm h1{margin-bottom: 60px;}
.content-email-confirm .email-confirm-check{
    width: 176px;
    height: 115px;
    margin: 0 auto;
    background: url('../img/success-2.png') 50% 50% no-repeat transparent;
}
.content-email-confirm .email-confirm-info{
    text-align: center;
    font-size: 16px;
    color: #656565;
    margin-top: 20px;
}
.content-email-confirm .link-block{
    text-align: center;
    margin-top: 20px;
}
.content-email-confirm .link-block a{
    font-size: 24px;
    color: #ee2f84;
    font-family: 'OpenSansMedium';
}

/*  prizes page */
.content-prizes .content-inner{ }
.content-prizes .prizes-list{
    width: 660px;
    margin: 0 auto;
}
.content-prizes .prize-item{
    text-align: center;
    display: none;
}
.content-prizes .prize-item.active{
    display: block;
}
.content-prizes .prize-item .prize-header{
    font-size: 30px;
    color: #ee2f84;
    font-family: 'OpenSansBold';
    margin-bottom: 20px;
}
.content-prizes .prize-item .prize-img{
    width: 680px;
    height: 480px;
    background: url('../img/prize-week.png') 50% 50% no-repeat transparent;
    margin-bottom: 10px;
}
.content-prizes .prize-item .prize-info{
    font-size: 24px;
    color: #656565;
    font-family: 'OpenSansBold';
    margin-bottom: 30px;
}
.content-prizes .prize-item .prize-rule{
    font-size: 16px;
    color: #656565;
}
.content-prizes .prize-month .prize-img{
    background-image: url('../img/prize-month.png');
}
.content-prizes .prize-main .prize-img{
    background-image: url('../img/prize-main.png');
}
.content-prizes .prize-nav-prev,
.content-prizes .prize-nav-next{
    position: absolute;
    display: block;
    width: 35px;
    height: 50px;
    top: 450px;
    left: 50px;
    background: url('../img/slide-arr-l.png') 50% 50% no-repeat transparent;
    text-decoration: none;
}
.content-prizes .prize-nav-next{
    background-image: url('../img/slide-arr-r.png');
    left: auto;
    right: 50px;
}

/*  index page */
.content-index .content-inner{
    width: 1000px;
    margin: -30px auto 0 auto;
}
.content-index .photo-competition-block{
    height: 530px;
    width: 100%;
    position: relative;
    background: url('../img/index-photo-competition.png') 50% 50% no-repeat transparent;
}
.from-date,
.to-date{
    position: absolute;
    top: 230px;
    left: 60px;
    font-size: 16px;
    color: #ee2f84;
    font-family: 'OpenSansMedium';
}
.to-date{
    left: auto;
    right: 40px;
}
.mehanika-block{
    margin-top: -125px;
    position: relative;
    z-index: 5;
    color: #656565;
    font-family: 'OpenSansMedium';
}
.mehanika-block a{
    color: #289925;
}
.mehanika-block .separator-1, .mehanika-block .separator-2, .mehanika-block .separator-3{
    display: inline-block;
    vertical-align: top;
    margin: 190px 35px 0 35px;
    width: 45px;
    height: 45px;
    background: url('../img/mehanika-separ-1.png') 50% 50% no-repeat transparent;
}
.mehanika-block .separator-2{
    background-image: url('../img/mehanika-separ-2.png');
}
.mehanika-block .separator-3{
    background-image: url('../img/mehanika-separ-3.png');
}
.mehanika-block .step-1, .mehanika-block .step-2, .mehanika-block .step-3, .mehanika-block .step-4{
    display: inline-block;
    vertical-align: top;
    padding-top: 190px;
}
.mehanika-block .step-1{
    background: url('../img/index-mehanika-1.png') 50% 0px no-repeat transparent;
    width: 170px;
}
.mehanika-block .step-2{
    background: url('../img/index-mehanika-2.png') 50% 35px no-repeat transparent;
    width: 125px;
}
.mehanika-block .step-3{
    background: url('../img/index-mehanika-3.png') -10px 72px no-repeat transparent;
    width: 195px;
}
.mehanika-block .step-4{
    background: url('../img/index-mehanika-4.png') 50% 68px no-repeat transparent;
    width: 130px;
}


/* additional styles*/

.photo-likes, .gallery-zoom-votes{
    position: relative;
}
.photo-likes.tmp .like-link, .photo-likes.tmp .like-count {
    opacity: 0.6;
}
.tooltips{
    display: none;
    position: absolute;
    width: 320px;
    right: -340px;
    top: 0;
    z-index: 1000;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 0;
    background: #f3efe2;
    border:#ddd;

}
.tooltips:before{
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: -20px;
    background: #f3efe2;
    box-sizing: border-box;
    border: 10px solid #fff;
    border-right-color: #f3efe2;
    z-index: 1010;
}
.photo-likes .tooltips{
    top: 50%;
    margin-top:-10px;

    -webkit-box-shadow: 2px 1px 6px 0 rgba(71,65,71,0.6);
    -moz-box-shadow: 2px 1px 6px 0 rgba(71,65,71,0.6);
    box-shadow: 2px 1px 6px 0 rgba(71,65,71,0.6);
}
.tooltips.success{
    background: #51b94f;
    color: #fee;
}
.tooltips.success:before{
    border-right-color: #51b94f;
}
.gallery-zoom-votes .tooltips{
    width: 220px;
    top: 127px;
    right: -15px;
    border: 1px solid #ddd;
}
.gallery-zoom-votes .tooltips:before{
    left: 50%;
    margin-left: -15px;
    top: -20px;
    border: 10px solid #fff;
    border-bottom-color: #f3efe2;

}
.gallery-zoom-votes .tooltips.success:before{
    border-bottom-color: #51b94f;
}