@media only screen and (max-width : 768px) {
    body{font-size: 24px;}
    header{height: 200px;}
    h1{font-size: 48px;}
    .fancybox-skin {
        padding-top: 50px !important;
    }
    .wrap-container,
    .wrap-footer {
        width: auto;
        min-width: 640px;
    }
    .wrap-container{padding-bottom: 200px;}
    .header-logo {left: 50%;margin-left: -85px;}
    .menu {padding-left: 0;padding-top: 0;}
    .toggle-menu{
        cursor: pointer;
        margin: 40px 0 0 40px;
        display: inline-block;
        width: 40px;
        height: 35px;
        background: url('../img/menu-toggle.png') 50% 0 no-repeat transparent;
    }
    .menu ul{
        display: none;
        position: absolute;
        top: 0;
        left: -1px;
        background: #fff;
        border-radius: 0 0 30px 0;
        box-shadow: 0 0 20px rgba(177, 215, 228, 0.8);
        -webkit-box-shadow: 0 0 20px rgba(177, 215, 228, 0.8);
        padding: 65px 0 20px 0;
        z-index: 22;
    }
    .menu.show ul{
        display: block;
    }
    .menu.show .toggle-menu{
        margin: 18px 0 0 40px;
        background: url('../img/menu-toggle-on.png') 50% 0 no-repeat transparent;
        position: absolute;
        z-index: 40;
    }
    .menu ul .item{
        display: block;
        float: none;
        padding: 20px 70px 20px 40px;
        box-sizing: border-box;
        border-top: 1px solid #b1d7e4;
        width: 100%;
    }
    .menu ul .item .link{
        color: #ee2f84;
        font-size: 36px;
    }
    .menu ul .item .link:hover{
        color: #51b94f;
        font-size: 36px;
    }
    .menu ul .menu-reg-li .link{
        color: #e66e17;
    }
    .menu .menu-login-block {
        float: right;
        margin-right: 70px;
        margin-top: 40px;
        text-align: right;
        max-width: 200px;
    }
    .menu .menu-login-block .link {
        font-size: 24px;
        height: 30px;
        display: block;
    }
    .menu .menu-login-block .menu-cabinet-link {
        margin-right: 0;
    }
    .menu .menu-login-block .menu-logout-link {
        color: #ee2f84;
        border-color: #ee2f84;
        margin-top: 25px;        
        display: inline-block;
    }
    .menu .menu-login-block .menu-login-link {
        font-size: 38px;
        height: 50px;
    }
    .wrap-content {
        padding-bottom: 400px;
    }
    .footer{ margin: 0 80px;}
    .footer-left {
        margin: 0 0 40px 0;
    }
    .footer-rules-block {
        float: none;
        padding-right: 0;
        text-align: center; 
    }
    .copyright {
        padding-right: 90px;
        padding-top: 35px;
    }
    .footer-rules-block a {
        width: 335px;
        height: 135px;
        margin-top: 0;
        background: url('../img/rules-mob.png') 50% 0 no-repeat transparent;
        margin-bottom: 50px;
    }
    .footer-right a{
        display: block;
        margin-bottom: 40px;
    }
    .login-popup{
        width: 480px;
        padding: 40px;
        border-radius: 30px 0 30px 30px;
        box-shadow: 0 10px 22px rgba(177, 215, 228, 0.8);
        -webkit-box-shadow: 0 10px 22px rgba(177, 215, 228, 0.8);
        right: 55px;
        margin-top: 10px;
    }
    .social-block{
        text-align: center;
        margin-top: 40px;
    }
    .social-block a{
        width: 65px;
        height: 65px;
        background: url('../img/social-mob.png') 0 0 no-repeat transparent;
        margin-right: 40px;
    }
    .social-block .soc-vk{
        background-position: 0 0;
    }
    .social-block .soc-fb{
        background-position: -119px 0;
    }
    .social-block .soc-ok{
        background-position: -225px 0;
    }
    .login-popup .or-block{
        color: #a3a3a3;
        font-size: 24px;
        overflow: hidden;
        margin: 36px -40px;
    }
    .login-popup .or-block:before,
    .login-popup .or-block:after{
        content: "";
        border-top: 1px solid #f2f2f2;
        height: 2px;
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        margin: 0 20px 0 -55px;
    }
    .login-popup .or-block:after{
        margin: 0 -55px 0 20px;
    }
    .login-popup .input-block-pass{
        display: inline-block;
        width: 200px;
        margin-right: 20px;
    }
    .login-popup .remember-padd-link{
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        color: #82bdc6;
        font-size: 24px;
        line-height: 24px;
    }
    .login-popup .btn-primary{
        width: 100%;
    }
    .login-popup .mtop-10{
        margin-top: 20px;
    }
    .input-block input, .input-block select, .input-block .select2 .select2-selection, .input-block textarea {
        border-radius: 10px;
        box-shadow: inset 0 2px 10px #93c6d4;
        -webkit-box-shadow: inset 0px 2px 10px #93c6d4;
        padding: 20px;
        font-size: 24px;
    }
    .btn-primary,
    .btn-default{
        background: url('../img/btn-bg-mob.png') 50% 100% repeat-x #8CD354;
        border-radius: 10px;
        padding: 27px 30px;
        font-size: 36px;
    }
    .checkbox-input-block {
        width: 50px;
        height: 50px;
        background: url('../img/checkbox-off-mob.png') 0% 100% no-repeat transparent;
        float: left;
    }
    .checkbox-on {
        background: url('../img/checkbox-on-mob.png') 0% 100% no-repeat transparent;
    }
    .checkbox-text {
        margin-left: 70px;
        display: block;
        text-align: left;
    }
    .input-error .input-error-text { 
        display: block;
        position: relative;
        width: auto;
        right: 0;
        top: 0;
        margin-top: 5px;
        border-bottom: 10px solid #eaf6fa;
        border-radius: 0 0 5px 5px;
    }
    .input-error .input-error-text:before {
        content: none;
    }
    .input-radio-block {
        width: 30px;
        height: 30px;
        border-radius: 24px;
        padding: 8px;
    }
    .input-radio-block.radio-on:before {
        margin: 5px;
        width: 20px;
        height: 20px;
        border-radius: 20px;
    }
    .input-block .select2-container--default .select2-selection--single .select2-selection__arrow b {
        left: -19px;
        top: 25px;
        border: 20px solid transparent;
        border-left-width: 10px;
        border-right-width: 10px;
        border-top-color: #81ce47;
    }
    .pager{position: relative;}
    .pager a{margin-right: 35px;font-size: 28px;}
    .pager .pager-pages .active{
        border-radius: 6px;
        padding: 8px 16px;
    }
    .pager .next{
        position: absolute;
        right: 0;
        top: 5px;
    }
    .pager-pages{margin-top: 20px;}

    .content-signup .content-inner{
        width: auto;
        padding-left: 80px;
        padding-right: 80px;
    }
    .content-signup .social-block{
        text-align: center;
        margin: 10px 0 50px 0;
    }
    .content-signup .social-block span{
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .signup-form-left,
    .signup-form-right{
        width: 100%;
        margin: 0;
    }
    .content-signup .input-block{
        margin-bottom: 30px;
        display: block;
    }
    .content-signup .input-block label{
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
    .content-signup .input-block input{
        width: 100%;
        display: block;
    }
    .input-block-date input{
        padding-right: 80px;
        background: url('../img/cal-mob.png') 95% 50% no-repeat #eaf6fa;
    }
    .content-signup  .input-block-sex .label,
    .content-signup .input-block-sex>div{
        display: inline-block;
        vertical-align: top;
    }
    .content-signup .input-block-sex>div>div{
        margin-bottom: 10px;
        display: inline-block;
        margin-right: 100px;
    }
    .content-signup .checkbox-block{
        margin-top: 30px;
    }
    .content-signup .captcha-block{
        margin-top: 40px;
    }
    .content-signup .submit-block{
        margin-top: 70px;
        text-align: center;    
    }

    .content-cabinet .content-inner{
        width: auto;
        padding: 0 60px;
    }
    .content-cabinet h1{
        margin-bottom: 80px;
    }
    .content-cabinet .add-check-link-block{
        margin-bottom: 70px;
    }
    .content-cabinet h2{font-size: 36px; margin-bottom: 74px;}
    .content-cabinet .table .tr{margin-bottom: 60px;}
    .content-cabinet .table .td-title-mob{display: inline-block;color: #b4b4b4;width: 210px;}
    .content-cabinet .table .th{display: none;}
    .content-cabinet .table .td{width: 100% !important; display: block;margin-bottom: 20px;}
    .content-cabinet .table{margin-bottom: 50px;}
    .content-cabinet .pager{margin-bottom: 70px;}
    .cabinet-photo-block h2{margin-bottom: 80px;}
    .content-cabinet .photo-upload-block{
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    .photo-upload-warning{
        font-size: 24px;
        background-position: 50% 70%;
    }
    .content-cabinet .photo-upload-block .photo-upload-title{
        font-size: 36px;
        margin-bottom: 60px;
    }
    .content-cabinet .photo-upload-block .checkbox-block{
        margin: 60px 0;
    }
    .content-cabinet .photo-upload-block input {font-size: 25px;}
    .photo-item{
        width: 290px;
        padding: 30px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .photo-item:last-child{
        margin-right: 0;
    }
    .photo-item .photo-img{
        max-width: 235px;
        max-height: 235px;
        margin-bottom: 15px;
    }
    .photo-item .photo-likes{
        width: 30px;
        padding-top: 20px;
        font-size: 16px;
        margin-right: 10px;
    }
    .photo-item .photo-name{
        width: 180px;
        font-size: 16px;
    }
    #check-upload h2{
        font-size: 36px;
        color: #51b94f;
        margin-bottom: 30px;
        text-align: center;
    }
    #check-upload .check-upload-form-block{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
    }
    #check-upload .input-block label,
    #check-upload .input-block-file label{
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }
    #check-upload .input-block,
    #check-upload .input-block-file{
        margin-bottom: 30px;
        text-align: left;
    }
    #check-upload .input-block input{width: 100%;}
    #check-upload .checkbox-block,
    #check-upload .submit-block{
        margin-bottom: 30px;
        margin-left: 0;
        text-align: center;
    }
    #check-upload .submit-block{
        margin-top: 50px;
    }
    #check-upload .submit-block .btn-primary{
        width: 100%;
    }
    #check-upload .check-example{
        display: none;
    }
    .content-gallery .content-inner{width: auto;padding-left: 15px;padding-right: 15px;}
    .content-gallery .gallery-top{
        margin: 10px 0 20px 0;
    }
    .content-gallery .pager .pager-pages {
        width: 100%;
        margin: 30px 0 0 0;
        text-align: left;
    }
    .content-gallery .photo-item .photo-likes{
        padding-top: 0;
    }
    .content-gallery .photo-item .like-count {
        width: 30px;
    }
    #gallery-zoom .gallery-zoom-inner {
        width: 600px;
        min-width: 600px;
    }
    .gallery-zoom-img {
        width: 600px;
        display: block;
    }
    #gallery-zoom {
        min-width: 600px;
    }
    .modal-gallery-zoom .fancybox-skin {
        min-width: 600px;
        margin: 0 !important;
    }
    .gallery-slidin-l, .gallery-slidin-r {display: none;}
    .gallery-zoom-right {
        width: 100%;
        height: 120px;
        box-sizing: border-box;
        padding: 20px;
    }
    .gallery-zoom-name {
        width: 400px;
        display: inline-block;
        vertical-align: middle;
    }
    .gallery-zoom-votes {
        width: 110px;
        text-align: right;
        position: relative;
        top: auto;
        margin-top: 0;
        left: auto;
        right: auto;
        padding-top: 0px;
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
    }
    .gallery-zoom-shares{display: none;}
    .gallery-zoom-votes .like-count{
        display: inline-block;
        vertical-align: middle;
    }
    .content-winners .content-inner{width: auto;padding: 0 30px;}
    .content-winners h1{margin-bottom: 40px;}
    .content-winners .search-block{
        width: 470px;
        margin: 0 auto 50px auto;
    }
    .content-winners .search-block .input-block {
        width: 460px;
        margin-right: 0;
        display: block;
    }
    .content-winners .search-block .input-block input{text-align: center;}
    .content-winners .search-block .submit-block{
        margin-top: 25px;
        text-align: center;
        display: block;
    }
    .content-winners .search-block .submit-block .btn-primary{width: 310px;}
    .content-winners .filter-block{display: none;}
    .content-winners .winner-list{margin-top: 50px;}
    .content-winners .winner-item{
        padding-left: 135px;
        margin-bottom: 50px;
    }
    .content-winners .winner-prize-cupoun-1{
        background: url('../img/prizes-ico-1.png') 0 50% no-repeat transparent;
    }
    .content-winners .winner-prize-cupoun-2{
        background: url('../img/prizes-ico-2.png') 0 50% no-repeat transparent;
    }
    .content-winners .winner-prize-main{
        background: url('../img/prizes-ico-3.png') 0 50% no-repeat transparent;
    }
    .content-winners .winner-item>div{display: block;}
    .content-winners .winner-item .winner-date,
    .content-winners .winner-item .winner-user,
    .content-winners .winner-item .winner-prize{
        font-size: 24px;
        max-width: 100%;
        width: 100%;
        margin-right: 0;
    }
    .content-winners .pager{margin-top: 80px;}
    .content-winners .pager .pager-pages {display: block;}
    .content-faq .content-inner{width: auto;padding: 0 33px;}
    .content-faq h1{margin-bottom: 50px;}
    .content-faq .faq-item{margin-bottom: 60px;}
    .content-faq .faq-question{margin-bottom: 35px;white-space: nowrap;}
    .content-faq .faq-question span{display: inline-block;vertical-align: top;}
    .content-faq .faq-question a{margin-left: 10px;white-space: normal;}
    .content-faq .faq-answer{margin-bottom: 15px;padding-left: 40px;}
    .content-faq .faq-answer-label{
        display: block;
        width: 100%;
        margin-right: 0;
        text-align: left;
        padding-left: 0;
    }
    .content-faq .faq-answer-text{
        display: block;
        width: 100%;
    }
    .content-feedback-form .content-inner{width: 100%;padding: 0 65px;box-sizing: border-box;}
    .content-feedback-form h1{margin-bottom: 65px;}
    .content-feedback-form .feedback-link-block{margin-bottom: 65px;}
    .content-feedback-form .feedback-form-top{margin: 0;}
    .content-feedback-form .feedback-form-top .input-block{
        float: none;
        width: 100%;
        padding: 0;
    }
    .content-feedback-form .input-block-file label{
        font-family: 'OpenSans';
        margin-right: 0;
        margin-bottom: 15px;
        display: block;
    }
    .content-feedback-form .input-block-file input{
        font-size: 24px;
    }
    .content-feedback-form .input-block,
    .content-feedback-form .input-block-file,
    .content-feedback-form .captcha-block,
    .content-feedback-form .submit-block{
        margin-top: 30px;
    }
    .content-feedback-form .input-block textarea{
        height: 130px;
    }
    .content-feedback-form .submit-block{text-align: center;}
    .content-feedback-form .submit-block .btn-primary{width: 80%;}
    
    .content-feedback .content-inner{width: 100%;padding: 0 65px;box-sizing: border-box;}
    .content-feedback h1{margin-bottom: 60px;}
    .content-feedback .feedback-form-link-block{margin-bottom: 60px;}
    .content-feedback .feedback-item-top{
        margin-bottom: 15px;
    }
    .content-feedback .feedback-title,
    .content-feedback .feedback-date{
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .content-feedback .feedback-question,
    .content-feedback .feedback-answer{
        margin-bottom: 50px;
    }
    .content-feedback .feedback-answer{
        margin-left: 40px;
    }
    .content-feedback .feedback-question-label,
    .content-feedback .feedback-answer-label{
        display: block;
        width: 100%;
    }
    .content-feedback .feedback-question-text,
    .content-feedback .feedback-answer-text{
        display: block;
        width: 100%;
    }
    .content-feedback .feedback-form-block{
        margin-left: 0;
        width: 100%;
    }
    .content-feedback .feedback-form-block .input-block textarea{
        height: 240px;
    }
    .content-feedback .feedback-form-block .input-block-file{
        margin: 30px 0;
    }
    .content-feedback .feedback-form-block .input-block-file label{
        margin-right: 0;
        margin-bottom: 15px;
        display: block;
    }
    .content-feedback .feedback-form-block .input-block-file input{
        font-size: 22px;
    }
    .content-feedback .feedback-form-block .submit-block{
        margin-top: 65px;
        text-align: center;
    }

    .content-error .content-inner{width: auto;padding: 0 35px;text-align: center;}
    .content-error h1{margin-bottom: 35px;}
    .photo-competition-info{
        margin: 35px -20px 0 -20px;
        color: #ee2f84;
        font-family: 'OpenSansMedium';
        text-align: center;
        font-size: 24px;
        padding-bottom: 360px;
        background: url('../img/photo-competition.png') 55% 100% no-repeat transparent;
    }
    .content-pass-remember .content-inner{width: auto;padding: 0 85px;text-align: center;}
    .content-pass-remember h1{margin-bottom: 75px;}
    .pass-remember-form-block{width: 100%;}
    .pass-remember-form-block .pass-remember-info{margin-bottom: 60px;}
    .pass-remember-form-block .input-block label,
    .pass-remember-form-block .input-block input{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .pass-remember-form-block .captcha-block{margin-top: 40px;}
    .pass-remember-form-block .submit-block{margin-top: 40px;}
    .pass-remember-form-block .submit-block .btn-primary{width: 100%;}
    
    .content-pass-new .content-inner{width: auto;padding: 0 85px;text-align: center;}
    .content-pass-new h1{margin-bottom: 90px;}
    .pass-new-form-block{width: 100%;}
    .pass-new-form-block .pass-new-info{margin-bottom: 60px;}
    .pass-new-form-block .input-block label,
    .pass-new-form-block .input-block input{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .pass-new-form-block .input-block input{
        width: 100%;
    }
    .pass-new-form-block .input-block{
        margin-top: 40px;
    }
    .pass-new-form-block .submit-block{
        margin-top: 50px;
    }
    .pass-new-form-block .submit-block .btn-primary{width: 100%;}

    .content-signup-success .content-inner{width: auto;padding: 0 85px;text-align: center;}
    .content-signup-success .signup-success-info{
        font-size: 32px;
        width: 100%;
        margin-top: 60px;
    }
    
    .content-email-confirm .content-inner{width: auto;padding: 0 85px;}
    .content-email-confirm h1{margin-bottom: 80px;}
    .content-email-confirm .email-confirm-check{
        width: 176px;
        height: 115px;
        margin: 0 auto;
        background: url('../img/success-2.png') 50% 50% no-repeat transparent;
    }
    .content-email-confirm .email-confirm-info{
        font-size: 24px;
        margin-top: 45px;
    }
    .content-email-confirm .link-block{margin-top: 60px;}
    .content-email-confirm .link-block a{font-size: 48px;}
    
    .content-prizes .content-inner{width: auto;padding: 0 40px;}
    .content-prizes .prizes-list{width: 100%;}
    .content-prizes .prize-item{display: block;margin-bottom: 90px;}
    .content-prizes .prize-item .prize-header{
        font-size: 36px;
        margin-bottom: 10px;
    }
    .content-prizes .prize-item .prize-img{
        width: 500px;
        height: 400px;
        background: url('../img/prize-week.png') 50% 50% no-repeat transparent;
        margin-bottom: 20px;
        background-size: 100%;
        margin: 0 auto;
    }
    .content-prizes .prize-item .prize-info{
        font-size: 28px;
        margin-bottom: 30px;
    }
    .content-prizes .prize-item .prize-rule{font-size: 24px;}
    .content-prizes .prize-month .prize-img{
        background-image: url('../img/prize-month.png');
    }
    .content-prizes .prize-main .prize-img{
        background-image: url('../img/prize-main.png');
    }
    .content-prizes .prize-nav-prev,
    .content-prizes .prize-nav-next{
        display: none;
    }

    .content-index .content-inner{
        width: 100%;
        padding: 0 50px;
        box-sizing: border-box;
        margin: 0;
    }
    .content-index .photo-competition-block{
        height: 520px;
        background: url('../img/index-photo-competition.png') 50% 0% no-repeat transparent;
        margin: 0 -40px;
        padding: 0 40px;
        background-size: 100%;
    }
    .from-date,
    .to-date{
        top: auto;
        bottom: 0;
        left: 60px;
        font-size: 26px;
    }
    .to-date{
        left: auto;
        right: 60px;
    }
    .mehanika-block{
        margin-top: 60px;
    }
    .mehanika-block .separator-1, .mehanika-block .separator-2, .mehanika-block .separator-3{
        display: block;
        margin: 45px auto;
        width: 85px;
        height: 85px;
        background: url('../img/mehanika-separ-1-mob.png') 50% 50% no-repeat transparent;
    }
    .mehanika-block .separator-2{
        background-image: url('../img/mehanika-separ-2-mob.png');
    }
    .mehanika-block .separator-3{
        background-image: url('../img/mehanika-separ-3-mob.png');
    }
    .mehanika-block .step-1, .mehanika-block .step-2, .mehanika-block .step-3, .mehanika-block .step-4{
        display: block;
        padding-top: 0;
        padding-left: 190px;
    }
    .mehanika-block .step-1{
        background: url('../img/index-mehanika-1.png') 25px 0px no-repeat transparent;
        width: auto;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .mehanika-block .step-2{
        background: url('../img/index-mehanika-2.png') 17px 0px no-repeat transparent;
        width: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .mehanika-block .step-3{
        background: url('../img/index-mehanika-3.png') 0px 0px no-repeat transparent;
        width: auto;
    }
    .mehanika-block .step-4{
        background: url('../img/index-mehanika-4.png') 0px 0px no-repeat transparent;
        width: auto;
        padding-bottom: 60px;
    }
}